
/*   PRINCIPAL     */

main{
    border:1px solid green;
    background: url("/img/background/Inicio-fundo.png") no-repeat top center/cover;
}

#containerMain{
    margin-top: 25vh;
}

.card{
    background-color: #0097B2;
    filter:drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.25));
}


#secao-cards{
    width: 100%;
    font-family: "Retro Gaming";
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
}

.hover-rotate:hover {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.tam{
    height: 40vh;
}